* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-image: url(../multimedia/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  background-color: rgba(0, 0, 0, 0.568627451);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .nav-link {
  color: aqua;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  font-size: larger;
}

.body-main-imagenes-titulos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 600;
}

.body-main-imagenes {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.body-main-imagenes img {
  border-radius: 20px;
  transition: 0.5s;
}

.body-main-imagenes img:hover {
  height: 420px;
  width: 590px;
}

.body-main-imagenes2 {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.body-main-imagenes2 img {
  border-radius: 20px;
  transition: 0.5s;
}

.body-main-imagenes2 img:hover {
  height: 420px;
  width: 590px;
}

.body-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.481);
  margin: 10px;
  border-radius: 20px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .body-main-imagenes img {
    height: 350px;
    width: 100%;
  }
  .body-main-imagenes2 img {
    height: 350px;
    width: 100%;
  }
  .body-main-imagenes img:hover {
    height: 375px;
    width: 520px;
  }
  .body-main-imagenes2 img:hover {
    height: 375px;
    width: 520px;
  }
}
@media screen and (max-width: 900px) {
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .main-sectores {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .body-textos {
    flex-wrap: wrap;
  }
  .body-main-imagenes img {
    width: 100%;
    height: 300px;
  }
  .body-main-imagenes2 img {
    width: 100%;
    height: 300px;
  }
  .body-main-imagenes img:hover {
    height: 330px;
    width: 370px;
  }
  .body-main-imagenes2 img:hover {
    height: 330px;
    width: 370px;
  }
}
@media screen and (max-width: 748px) {
  .main-sectores {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .main-motorcycles {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .body-main-imagenes {
    flex-direction: column;
    display: flex;
  }
  .body-main-imagenes2 {
    flex-direction: column;
    display: flex;
  }
  .body-textos {
    flex-wrap: wrap;
  }
  .body-main-imagenes img {
    width: 90%;
    height: 300px;
  }
  .body-main-imagenes2 img {
    width: 90%;
    height: 300px;
  }
  .body-main-imagenes img:hover {
    width: 95%;
    height: 350px;
  }
  .body-main-imagenes2 img:hover {
    width: 95%;
    height: 350px;
  }
}
@media screen and (max-width: 480px) {
  .body-textos {
    flex-wrap: wrap;
  }
}
.main-sectores {
  display: flex;
}
.main-sectores .sector-left {
  padding: 20px;
  color: #ffffff;
}
.main-sectores .sector-right {
  color: #ffffff;
  padding: 20px;
}
.main-sectores .sector-left img {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.main-sectores .sector-right img {
  width: 700px;
  height: 300px;
  border-radius: 20PX;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
form .form {
  padding: 30px;
  width: 400px;
  background: rgba(0, 0, 0, 0.431372549);
  border-radius: 20px;
  color: white;
  box-shadow: 7px 13px 37px #000000;
  min-width: 100px;
  max-width: 100%;
  margin-bottom: 50px;
}
form .form .form-tittle {
  font-size: 20px;
}
form .form .form-text {
  width: 100%;
  background: rgba(0, 0, 0, 0.431372549);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 16px;
  color: white;
  transition: 0.3s;
  border: none;
  outline: none;
}
form .form .form-text:hover {
  padding: 18px;
}
form .form .form-text:focus {
  padding: 18px;
}

.tarjetas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.tarjetas .card {
  box-shadow: 7px 13px 37px #000000;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.tarjetas .card .card-body {
  background-color: #353535;
  border: none;
  color: white;
}

.main-motorcycles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.main-motorcycles .main-motorcycles a:hover {
  color: #353535;
}
.main-motorcycles .main-motorcycles img {
  box-shadow: 13px 20px 37px #000000;
}
.main-motorcycles .main-motorcycles-models {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-motorcycles .main-motorcycles-models img {
  border-radius: 20px;
  width: 450px;
  height: 300px;
  object-fit: cover;
  min-width: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100px;
  transition: 0.3s;
}
.main-motorcycles .main-motorcycles-models img:hover {
  width: 480px;
  height: 350px;
}
.main-motorcycles .main-motorcycles-models-titles {
  text-decoration: none;
  color: white;
  font-size: large;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: #353535;
}

.dropdown-item {
  color: white;
}

/*# sourceMappingURL=style.css.map */
