.main-sectores{
    display: flex;
    flex-direction: column;
    align-items: center;
    .sector-left{
        padding: 20px;
        color: #ffffff;
        text-align: center;
        background-color:#111111a2 ;
        border-radius: 20px;
        max-width: 70%;;
        min-width: none;
        h2{position:re;
        color: aqua;}
    }
    .sector-right{
        color: aqua;
        padding: 20px;
        text-align: center;
        background-color: #111111a2;
        border-radius: 20px;
        max-width: 70%;;
        min-width: none;
    }
    .sector-left img{
        border-radius: 20px;
    }
    .sector-right img{
        border-radius: 20PX;
    }
}
.iframe{
    display: flex;
    justify-content: center;
    margin:20px;
    min-width: none;
}
