.main-sectores{
    display: flex;
    .sector-left{
        padding: 20px;
        color: #ffffff;
        text-align: center;
        background-color:#111111a2 ;
        border-radius: 20px;
    }
    .sector-right{
        color: #ffffff;
        padding: 20px;
        text-align: center;
        background-color: #111111a2;
        border-radius: 20px;
    }
    .sector-left img{
        width:600px;
        height:300px;
        object-fit: cover;
        border-radius: 20px;
    }
    .sector-right img{
        width:700px;
        height:300px;
        border-radius: 20PX;
    }
}
.iframe{
    display: flex;
    justify-content: center;
    margin:20px;
}