.body-main-imagenes-titulos{
    @include flex(row,center,center,wrap);
    text-decoration: none;
    color: $mainColor;
    font-size: x-large;
    font-weight: 600;
}
.body-main-imagenes{
    gap:20px;
    display: flex;
    justify-content: center;
}
.body-main-imagenes img{
    border-radius: 20px;
    transition: 0.5s;
}
.body-main-imagenes img:hover{
    height: 420px;
    width: 590px;
}
.body-main-imagenes2{
    gap:20px;
    display: flex;
    justify-content: center;

}
.body-main-imagenes2 img{
    border-radius: 20px;
    transition: 0.5s;
}
.body-main-imagenes2 img:hover{
    height: 420px;
    width: 590px;
}
.body-textos{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    .body-textos-1{
        color: $mainColor;
        padding: 10px;
        text-align: center;
    }
    .body-textos-2{
        color: $mainColor;
        padding: 10px;
        text-align: center;
    }
}




