.body-main-imagenes-titulos{
    @include flex(row,center,center,wrap);
    text-decoration: none;
    color: $mainColor;
    font-size: x-large;
    font-weight: 600;
}
.body-main-imagenes{
    gap:20px;
    display: flex;
    justify-content: center;
}
.body-main-imagenes img{
    border-radius: 20px;
    transition: 0.5s;
}
.body-main-imagenes img:hover{
    height: 420px;
    width: 590px;
}
.body-main-imagenes2{
    gap:20px;
    display: flex;
    justify-content: center;

}
.body-main-imagenes2 img{
    border-radius: 20px;
    transition: 0.5s;
}
.body-main-imagenes2 img:hover{
    height: 420px;
    width: 590px;
}
.body-textos{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgba(0, 255, 255, 0.481);
    margin: 10px;
    border-radius: 20px;
    color: $mainColor;
}




