.navbar-collapse{
    justify-content: flex-end;
}
.navbar-brand{
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 20px;
    padding: 10px;
    color:aqua;
}
.nav-link{
    color: aqua;
}

